<p id="notice"><%= notice %></p>

<p>
  <strong>Bidding:</strong>
  <%= @bid.bidding %>
</p>

<p>
  <strong>User:</strong>
  <%= @bid.user_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @bid.item_id %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
