<% if current_user %>
    <h2>You won items</h2>
    <% won_items.each do |item| %>
        <li><%= item.name %></li>
    <% end %>


    <h2>You bidding items</h2>
    <% binding_items.each do |item| %>
        <li><%= item.name %></li>
    <% end %>

    <h2>You lost items</h2>
    <% lost_items.each do |item| %>
        <li><%= item.name %></li>
    <% end %>

<% end %>
