<p id="notice"><%= notice %></p>
<%= search_form_for @q do |f| %>
    <%= f.search_field :name_cont %>
    <%= f.submit  %>
<% end %>

<h1>Items</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= image_tag item.image.url(:medium) %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) if current_user and current_user.has_role? :admin %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: {confirm: 'Are you sure?'} if current_user and current_user.has_role? :admin %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= paginate @items %>
<%= link_to 'New Item', new_item_path if current_user and current_user.has_role? :admin %>

