<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>
<%= image_tag @item.image.url(:medium) %>

<%= render 'bids/form' %>
<%= link_to 'Edit', edit_item_path(@item) if current_user and current_user.has_role? :admin %> |
<%= link_to 'Back', items_path %>
