<!DOCTYPE html>
<html>
<head>
  <title>Lottery</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<% if current_user %>
    <p>Welcome <%= current_user.email %></p>
    <%= link_to 'logout', destroy_user_session_path, method: :delete %>
    <%= link_to 'Edit profile', edit_user_registration_path %>
<% else %>
    <%= link_to 'Login', new_user_session_path %>
    <%= link_to 'Register', new_user_registration_path %>
<% end %>
<%= yield %>
</body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


</html>
